.tile {
  &__container {
    border-radius: 3%;
    max-width: 350px;
    display: inline-block;
    margin: 15px;
    text-align: left;
  }

  &__image {
    margin: 0px -16px 16px -16px;
    height: 200px;
    width: 360px;
  }
}
