@import 'src/assets/styles/variables';

.detail-container {
  padding: 30px;
  text-align: left;
  background: $container-background-color;
  font-size: $font-body-size;
}

.detail-body {
  padding-top: 30px;
}
