@import '~@angular/material/theming';
@include mat-core();

// Available color palettes: https://material.io/design/color/
// mat-palette(main, [default, lighter, darker])
$app-primary: mat-palette($mat-purple, 900);
$app-accent: mat-palette($mat-amber, 300);
$app-warn: mat-palette($mat-red);

// Create theme
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme as Material theme
@include angular-material-theme($app-theme);
